.panel{
  position:relative;
  left:95px;
  background-color:lightskyblue;
  }

td {
  
  border-right: solid 0.5px  rgb(10, 10, 10);
  border-bottom:solid 0.5px black;
 
}
th{
  border-top:solid 0.5px black;
  border-bottom:solid 0.5px black; ;
}