<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
  <form [formGroup]="loginform" action="#" #validateuser="ngForm" (ngSubmit)="validateUser()" class="form1"  class="box">
    <h1>Sign In</h1>
  
    <input type="text" class="form-control" name="username" required placeholder="Username" formControlName="username">
    <input type="password" class="form-control" name="password" required placeholder="Password" formControlName="password">
    <button type="submit" class="submit" align="center">Login</button>
     <a class="submit"  routerLink="register-user" (click)="RegUser()">Don't have an account..?</a>
   
  </form>
</div>
</div>
</div>
</div>


