<div class="container">
    <div class="navbar">
        <div class="menu">
            <h3 class="logo"><span>Online  </span>Collborate</h3>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main">
            <header>
                <div class="overlay" id="one">
                    <h2 class="title">Hello there..!!</h2>
                    <p class="description">“click here to be part of  <span><strong>Online collaboration</strong> </span>” 
                    </p>
                    <div class="bts">
                       <a mat-list-item  class="nav-link" (click)="logInUser()" class="btn">Login</a>/<a mat-list-item   class="nav-link" (click)="RegUser()" class="btn">Resgistration</a>  
                      </div>
                </div>
            </header>
        </div>
        <div class="shadow one"></div>
        <div class="shadow two"></div>
    </div>
</div>
<div class="pages">
    <app-login-user></app-login-user>
</div>

<div class="pagess">
    <app-register-user></app-register-user>
</div>


<div class="middleTop row">
    <div class="footer-inner">
        <div class="col-md-2">
            <div class="middle-heading">Policy Info</div>
            <ul class="middle-content ">
                <li><a class="underLineOnHover" href="#" data-abc="true">Privacy Policy</a></li>
                
            </ul>
        </div>
        <div class="col-md-2">
            <div class="middle-heading">Company</div>
            <ul class="middle-content">
                <li><a class="underLineOnHover" href="#" data-abc="true">About Us</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <div class="middle-heading">Business</div>
            <ul class="middle-content">
                <li><a class="underLineOnHover" href="#" data-abc="true">Be an Affiliate</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <div class="middle-heading">Need Help ?</div>
            <ul class="middle-content">
                <li><a class="underLineOnHover" href="#" data-abc="true">FAQ</a></li>
                <li><a class="underLineOnHover" href="#" data-abc="true">Contact Us</a></li>
            </ul> <i class="originalalityfooterIcon footerIconsImg hide"></i>
        </div>
        <div class="col-md-4">
            <div class="middle-heading" style="margin-left: 0px;">About us</div> <span class="address" style="color:aliceblue;">1/239, sivakasi, VirudhuNagar, Tamilnadu-626124</span>
         
        </div>
    </div>
</div>
